.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiCard-root {
  display: block;
  width: 300px;
  float: left;
  margin: 30px;;
}
.roomListClass  {
  list-style: none;
  margin: 20px;
  min-width: 696px;
  float: left;
}
.roomListClass {
  display: grid;
}